

.filter-container {
  position: absolute;  /* Or fixed, depending on your layout */
  left: 960px;
  top: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f9f9f9;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.filter-label {
  background-color: #26c6da;
  font-weight: 600;
  color: #333;
  /* letter-spacing: 100px; */
  font-size: 14px;
}

.filter-select {
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid #4dd0e1;
  background-color: white;
  font-size: 16px;
  color: #00796b;
  transition: 0.3s;
  
}

.filter-select:focus {
  outline: none;
  border-color: #26c6da;
  box-shadow: 0 0 4px rgba(38, 198, 218, 0.3);
}
/* 
.filter-container {
  flex: 1;
  min-width: 180px;
} */
