

.filter-container {
    background-color: aqua;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filter-label {
    background-color: #26c6da;
  font-weight: bold;
  color: #333;
}

.filter-select {
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid #4dd0e1;
  background-color: white;
  font-size: 16px;
  color: #00796b;
  transition: 0.3s;
}

.filter-select:focus {
  outline: none;
  border-color: #26c6da;
  box-shadow: 0 0 6px rgba(38, 198, 218, 0.4);
}

.filter-container {
  flex: 1;
  min-width: 180px;
}
