/* TodaysTasks.css */

.todays-tasks-box {
  position: fixed;
  left: 0;
  top: 100px;
  width: 150px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  z-index: 5;
}

.todays-tasks-box h3 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #333;
}

.task-summary div {
  margin-bottom: 10px;
  font-size: 14px;
  color: #444;
}
